/* ---------------------------------------------------------

GAME CANVAS

------------------------------------------------------------ */
#canvas-block {
	margin: 50px auto;
}

#canvas-block__board {
	margin-top: 20px;
	width: 500px;
	height: 500px;
}